<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tutorialsninja_Application">
<listeners>
<listener class-name="com.tutorialninja.qa.listeners.MyListeners">
</listener>
</listeners>
  <test thread-count="5" name="TN_App_AutomationTestCases">
    <classes>
      <class name="com.tutorialninja.qa.test.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
